.wrapper {
    background-color: #242b42;
    padding: 50px 0;

    .container {
        max-width: 1440px;
        padding: 0 50px;
        margin: 0 auto;

        .content {
            display: grid;
            grid-gap: 50px;
            grid-template-columns: repeat(3, 1fr);

            .item {
                position: relative;
            }
        }
    }
}

@media (max-width: 1024px) {
    .wrapper {
        .container {
            padding: 0 20px;

            .content {
                grid-gap: 30px;
                grid-template-columns: 100%;
            }
        }
    }
}
