.wrapper {
    background-color: #242b42;
    padding: 50px 0;

    .container {
        max-width: 1440px;
        padding: 0 50px;
        margin: 0 auto;

        .content {
            display: grid;
            grid-gap: 50px;
            grid-template-columns: repeat(3, 1fr);

            .item {
                position: relative;
                padding: 15px;
                background-color: #364061;
                border-radius: 10px;
                color: #fff;
                display: flex;
                align-items: center;
                transition: all 0.2s linear;

                &Info {
                    padding: 0 20px;

                    h3 {
                        font-size: 18px;
                        font-weight: 600;
                        margin-bottom: 10px;
                    }

                    p {
                        line-height: 1.6;
                        font-size: 14px;
                    }
                }

                &:hover {
                    transform: translateY(-10px);
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .wrapper {
        .container {
            padding: 0 20px;

            .content {
                grid-gap: 20px;
                grid-template-columns: 100%;
            }
        }
    }
}
