.title {
    font-size: 40px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 50px;

    .first {
        text-transform: uppercase;
        border-radius: 100rem;
        width: 70px;
        height: 70px;
        font-size: 40px;
        padding: 10px;
        margin-right: 5px;
        font-weight: bold;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 1024px) {
    .title {
        font-size: 25px;
        margin-bottom: 35px;

        .first {
            width: 40px;
            height: 40px;
            font-size: 25px;
        }
    }
}
