.wrapper {
    margin: 0 auto;
    width: 2px;
    background-color: #000;

    .items {
        margin-left: -10px;

        .item {
            position: relative;
            margin-bottom: 200px;

            &::before {
                content: "";
                width: 20px;
                height: 20px;
                background-color: #3d6ef7;
                display: block;
                border-radius: 50%;
                box-shadow: 0 0 0 6px rgba(61, 110, 247, 0.5),
                    0 0 0 12px rgba(61, 110, 247, 0.25),
                    0 0 0 18px rgba(61, 110, 247, 0.05);
            }

            .content {
                display: flex;
                align-items: center;
                position: absolute;
                top: 10px;
                width: max-content;
                transform: translateY(-50%);
                background-color: #242b42;
                color: #fff;
                padding: 15px;
                border-radius: 10px;
                text-align: center;
                text-transform: uppercase;
                font-weight: bold;

                &Right {
                    left: 50px;
                }

                &Left {
                    right: 50px;
                }

                .date {
                    background-image: linear-gradient(
                        to right bottom,
                        #0f1767,
                        #3295f7
                    );
                    border-radius: 10px;
                    padding: 15px;
                    font-size: 20px;
                }

                .name {
                    font-size: 30px;
                    margin-left: 15px;
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .wrapper {
        .items {
            .item {
                margin-bottom: 120px;

                .content {
                    padding: 10px;

                    .date {
                        padding: 10px;
                        font-size: 12px;
                    }

                    .name {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}
