.wrapper {
    background-color: #141523;
    padding: 50px 0;

    .container {
        max-width: 1440px;
        padding: 0 50px;
        margin: 0 auto;

        @media (max-width: 1024px) {
            padding: 0 20px;
        }

        .content {
            position: relative;
            padding: 40px 0;
        }
    }
}
